.about-title {
    text-align: center;
    font-weight: 700;
}
.about-content {
    padding-top: 70px !important;
    padding: 2em;
}

.nav-closed .menu-button {
    color: black;
    border-color: black;
}